*{
    margin:0px;
    padding:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    h1{
        text-align: center;
    }
    a:link{
        text-decoration: none;
    }
    a:hover{
        border-radius: 5px;
        text-decoration: none;  
    }
    table{
        margin: 10px;
        padding: 20px;
        text-align: center;
    }
    td{
        /* padding-top:15px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 15px; */
        width: 20%;
    }
    tr:nth-child(2n+1){
        background-color: #a4de02;
    }
    tr:nth-child(2n){
        background-color: #0000;
    }
    .table{
        /* margin: 20px; */
    }
    footer{
        color:white;
        /* height: 50px; */
        /* padding-top: 20px; */
        align-items: center;
        width:100%;
        height: 7%;
        background-color: #333;
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom:0px;
    }
    footer p{
        margin:0px 1vw;
    }
    #fbox{
        align-content: center;
    }